<h2 Id="date">

</h2>

<h1>
 new quote
</h1>

<form action='/quotes' method="POST">
  <p>
    <label>Body</label>
    <textarea name="body">
    </textarea>
  </p>


  <p>
    <label>Source</label>
    <input type="text" name="source">
  </p>

  <input type="submit" value="Create Quote">
</form>
